<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать книгу</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите название:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">This text would be replaced</div>
    <br/>
    <label for="author">Введите автора:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">This text would be replaced</div>
    <br/>
    <label for="year">Введите год публикации:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">This text would be replaced</div>
    <br/>
    <input type="submit" value="Редактировать">
</form>
</body>
</html>